.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(255,165,0);
    border-radius: 20px 12px 20px 7px;
    box-shadow: 10px 15px rgba(75, 74, 74, 0.301);
    width: 30%;
    height: 650px;
}

#power{
    font-size: 12px;
    font-weight: bolder;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left:0px;
    border: 2px solid rgba(243, 238, 238, 0.384);
    background-color:rgba(114, 104, 104, 0.829);
    border-radius: 5px 5px 5px 5px ;
}

#toptext{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    width: 110px;
    margin-top: 20px;
    margin-left:auto;
    border:3px solid rgb(255,165,0);
    text-shadow: 2px 1px rgb(44, 43, 43);
    background-color: rgb(255,165,0);
    color: white;
}

#toptexttwowaypower{
    font-size: 12px;
    font-style: italic;
    font-weight: bolder;
    width: 110px;
    border: transparent;
    background-color:rgb(255,165,0);
    color: white;
}

.top{
    background-color: rgb(255,165,0);
    border-radius:10px 10px 0px 0px;
    margin-bottom: 30px;
}

.text{
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
    width: 85%;
    height: 100px;
    background-color: rgb(233, 231, 231);
    color: rgb(0, 0, 0);
    height: 60px;
}

#button{
    
    font-size: 25px;
    font-weight: bolder;
    font-style: unset;
    width: 75px;
    height: 60px;
    margin-top: 8px;
    margin-right: 9px;
    margin-bottom: 5px;
    margin-left: 12px;
    border-radius: 15px 5px 10px 5px ;
    box-shadow: 2px 4px rgb(255,165,0);
    text-shadow: 1px 2px black;  
    outline: none; 
}

#buttonC{
    font-size: 25px;
    font-weight: bolder;
    font-style: unset;
    width: 75px;
    height: 60px;
    margin-top: 8px;
    margin-right: 9px;
    margin-bottom: 5px;
    margin-left: 12px;
    border: 1px solid white;
    border-radius: 15px 5px 10px 5px ;
    box-shadow: 2px 4px rgb(255,165,0);
    text-shadow: 1px 2px rgb(255,165,0);
    background-color: rgb(255,165,0);
    color: rgb(12, 12, 12);   
    outline: none; 
}

.orange{
    background-color:rgb(255,165,0) ;
    color: white;
    border: 1px solid white;
}

.orangeF{
    background-color: white;
    color: rgb(255,165,0);
    border: 1px solid rgb(255,165,0);
} 